[submodule "ros_falcon_interface"]
	path = ros_falcon_interface
	url = git@github.com:ZhuoyunZhong/ros_falcon_interface.git
[submodule "ros-g29-force-feedback"]
	path = g29_force_feedback
	url = https://github.com/kuriatsu/ros-g29-force-feedback.git
